body{
    /*clear styles*/
    margin:0;
    font-family:'Courier New', Courier, monospace;
    overflow-x: hidden;
}

ul {
    list-style-type: none;
}

a {
    text-decoration:none;
    color: black;
}

button {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.icon { 
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.ordered-bullet-item{
    color: #FF8C69;
    font-size: 50px;
    font-weight: bolder;
    border: #FF8C69;
    border-style: solid;
    margin-right: 25px;
}

footer {
    background-color: rgba(50, 50, 50);
    height:  30px;
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    width: 100%;
    padding: 5px 50px;
    display: flex;
    color: white;
}
@media only screen and (max-width: 1000px) {
    footer {
        height:  300px;
        font-size: 60px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}


.menu{
    margin: 10px;
}

.menu > nav {
    display: flex;
}

.logo{
    background-image: url('images/logo.png');
    width: 60px;
    height: 60px;
    background-size: cover;
}
@media only screen and (max-width: 1000px) {
    .logo {
        width: 200px;
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        
    }
}

@media only screen and (max-width: 1000px) {
    .logo{
        margin-left: auto;
        margin-right: auto;
    }
}

.menu-links-wrapper {
    margin-left: auto;
}

@media only screen and (max-width: 1000px) {
    .menu-links-wrapper {
        display: none;
    }
}

.menu-links {
    min-width: 100%;
    background-color: #fafafa;
    display: flex;
   
    
    gap:20px;
}

.section {
    min-height: 500px;
    padding: 30px 50px;
}
@media only screen and (max-width: 1000px) {
    .section {
       width: 100%;
    }
}


.section-title{
    text-align: left;
    font-weight: 900;
    font-size: 40px;
    margin: 20px 0px;
}

.hero {
    width: 100vw;
    height: 100vh;
    background: url("images/labrador.jpg");
    background-size: cover;
    color: white;
    /* padding: 20px 10px; */
    background-position: top;
    background-repeat:   no-repeat;
    background-position: center center;
    overflow-x: hidden;
}
@media only screen and (max-width: 1000px) {
    .hero {
        background-position: top;
        

    }
}

.hero-wrapper {
    margin: 30px 100px;
}
@media only screen and (max-width: 1000px) {
    .hero-wrapper {
        margin: 30px 20px;
        background-color: rgba(255, 255, 255, 0.2);
    }
}

.hero-title {
    font-size: xx-large;
    font-weight: 900; 
}

@media only screen and (max-width: 1000px) {
    .hero-title {
        text-align: center;
        font-weight: 900;
        font-size: 80px;
    }
}

.section-description {
    font-weight: bolder;
    font-size: 20px;
}

@media only screen and (max-width: 1000px) {
    .section-description {
        font-weight: 500;
        font-size: 45px;
    }
}


.hero-span-gear {
    font-size: x-large; 
    font-weight: 400;
}

.hero-cta {
    margin: 100px;
    float: left;
}
@media only screen and (max-width: 1000px) {
    .hero-cta {
        margin: unset;
        float: unset;
        margin-top: 100px;
    }
}
/* .hero-cta{
    width: 20%;
    padding: 20px;
    margin: 30px 100px;
    border: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    
    background-color: rgba(255, 255, 255, 0.2);
}
@media only screen and (max-width: 1000px) {
    .hero-cta {
        width: 60%;
        margin: 30px auto auto auto;
        font-size: xx-large;
        font-weight: 900;
        margin-top: 150px;
    }
} */

.cta-button{
    margin-left:auto;
    margin-right: auto;
    display: flex;

    border: 3px;
    border-style: solid;
    border-color: white;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.2);

    font-size: 50px;
}
@media only screen and (max-width: 1000px) {
    .cta-button {
        font-size: 100px;
        font-weight: 900px;
    }
}

.how-does-it-work-section{
    background-color:rgba(50, 50, 50);
    height: 700px;
}
@media only screen and (max-width: 1000px) {
    .how-does-it-work-section {
        height: unset;
    }
}


.how-it-works__img-text{
    display: flex;
    height: 300px;
}
@media only screen and (max-width: 1000px) {
    .how-it-works__img-text {
        flex-direction: column;
        height: 100%;
    }
}

.how-it-works__map {
    /* background-image: url('images/map.png');
    width: 50%;
    background-size: cover;
    width: 50vw;
    height: 100vh;
    background-repeat:   no-repeat;
    background-position: center center; */
    width: 40vw;
    height: auto;
}
@media only screen and (max-width: 1000px) {
    .how-it-works__map {
        width: 100vw;
    }
}

.how-it-works__text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 50px;
}

.get-app-section, .contact-section {
    background-color: #FF8C69;
}

.contact-section {
    background-color: #89cff0;
}

.mail-image{
    width: 200px;
    height: auto;
}
@media only screen and (max-width: 1000px) {
    .mail-image {
        width: 600px;
    }
}

/* Especifico a uma section */




/* FOOTER */
.copyright { 
    margin-left: auto;
    margin-right: auto;
}

.social-icons-wrapper {
    margin-left: auto;
    margin-right: 100px;
}
@media only screen and (max-width: 1000px) {
    .social-icons-wrapper {
        margin-left: auto;
        margin-right: auto;
        margin-top: 50px;
    }
}
.social-icons{
    display: flex;
    float: right;
    margin: 0;
}
@media only screen and (max-width: 1000px) {
    .social-icons {
        float: unset;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        gap: 50px;
    }
}

.social-icon {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    color: #818a91;
    line-height: 34px;
    margin-left: 0;
    margin-right: 0;
    border-radius: 100%;
    background-color: #33353d;
    font-size: 18;
    display: inline-block;
    text-align: center;
}
@media only screen and (max-width: 1000px) {
    .social-icon {
        height: 60px;
        width: 60px;
        line-height: 44px;
        font-size: 28;
    }
}